.container {
  display: flex;
  height: 150px;
  background: linear-gradient(#565656, #3c3c3c);
  align-items: center;
  justify-content: center;
}

.logo {
  background: url(/logo.png) no-repeat center/contain;
  width: 310px;
  height: 104px;
  margin: 0 10px;
}

.line {
  border-right: 5px solid #fff;
  -moz-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  width: 20px;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vh;
  }
  .logo {
    margin: 0;
    width: 250px;
  }
  .line {
    width: 5px;
  }
}
