.container {
  width: 500px;
  height: 100%;
}

.menu,
.link {
  display: flex;
}

.menu {
  justify-content: space-around;
  height: 100%;
  margin: 0;
}

.item {
  list-style-type: none;
}

.link {
  align-items: center;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 0px 15px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

.link:hover,
.active {
  color: #ccc;
}

@media screen and (max-width: 600px) {
  .link {
    font-size: 20px;
    padding: 0;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .link {
    padding: 15px;
  }

  .menu {
    justify-content: flex-start;
    flex-direction: column;
  }
}
