.container,
.info_container,
.info_item,
.original_title {
  display: flex;
}

.container {
  margin: 10px;
}

.poster_container {
  width: 100%;
  max-width: 300px;
}

.poster {
  width: 100%;
  border: 2px solid #727272;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.movie_container {
  margin-left: 10px;
  padding: 0 10px;
  width: 100%;
  min-width: 400px;
}

.title {
  margin: 0;
  font-weight: 400;
  padding-bottom: 6px;
  font-size: 30px;
}

.original_title {
  color: #999;
  font-size: 20px;
  margin-bottom: 20px;
}

.info_container {
  flex-direction: column;
}

.info_item {
  flex-direction: row;
  padding: 5px 0;
  border-bottom: 1px dotted #adadad;
}

.info_title,
.info_value {
  font-size: 16px;
}

.info_title {
  width: 200px;
  min-width: 200px;
  color: #999;
}

.info_value {
  display: flex;
}

.description {
  text-align: justify;
}

.trailer_container {
  width: 100%;
}

.schedule_container {
  width: 400px;
}

.schedule_title {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 400;
}

.rating {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.rating img {
  padding: 0 2px;
}

.schedule_day {
  padding: 5px 0;
}

.schedule_date {
  font-size: 12px;
  margin-bottom: 5px;
  color: #999b9c;
}

.schedule_sessions {
  display: flex;
  flex-wrap: wrap;
}

.schedule_session {
  background: #888;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  margin: 0 4px 4px 0px;
  text-shadow: 0 1px 0 #313131;
  border: 1px solid #7f7f7f;
  cursor: pointer;
}

.schedule_session_inactive {
  background: #bbb;
  border-color: #adadad;
  text-shadow: none;
  text-decoration: line-through;
  cursor: default;
}
