.item {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 25%;
  padding: 0 1em;
  flex-direction: column;
  max-width: 265px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.item:hover {
  background: #ededed;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out;
}

.poster {
  width: 100%;
  border: 2px solid #727272;
  margin: 15px 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title,
.type {
  padding-bottom: 10px;
}

.title {
  font-size: 18px;
}

.type {
  font-size: 12px;
  font-style: italic;
  color: #565656;
}

.link {
  display: contents;
  color: #000;
  text-decoration: none;
}

.item_filtered {
  opacity: 0.2;
}
