.item {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 25%;
  padding: 0 1em;
  flex-direction: column;
  max-width: 265px;
  align-items: center;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  border-radius: 10px;
  border: 1px solid #ededed;
  position: relative;
}

.item:hover {
  background: #ededed;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.poster {
  width: 100%;
  border: 2px solid #727272;
  margin: 15px 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title,
.type {
  padding-bottom: 10px;
}

.title {
  font-size: 18px;
}

.type {
  font-size: 12px;
  font-style: italic;
  color: #565656;
}

.age_container {
  position: absolute;
  font-size: 20px;
  bottom: 0;
  right: 10px;
  border-radius: 50px;
  padding: 5px;
  border: 1px black solid;
  background: red;
  width: 40px;
  height: 40px;
}

.age {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.link {
  display: contents;
  color: #000;
  text-decoration: none;
}
