@import "../../../../inculde-media.scss";

.container {
  width: 500px;
  height: auto;

  @include media("<=tablet") {
    width: 100%;
    margin-bottom: 10px;
  }
}

.list {
  justify-content: space-evenly;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;

  &_item {
    list-style-type: none;

    &_link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      height: 100%;
      padding: 0px 15px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;

      &:hover,
      &_active {
        color: #ccc;
      }

      @include media("<=phone") {
        padding: 5px;
        font-size: 14px;
      }
      @include media(">phone", "<=tablet") {
        padding: 5px;
        font-size: 18px;
      }
    }
  }
}
