$grey: #909090;

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 0 1em;
  max-width: 260px;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: #ededed;
    transition: background-color 300ms linear;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
  }

  &_poster {
    width: 100%;
    border: 2px solid $grey;
    border-radius: 5px;
    margin: 15px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &_title {
    font-size: 18px;
    padding-bottom: 10px;
    color: #000;
  }

  &_type {
    font-size: 12px;
    font-style: italic;
    color: $grey;
    padding-bottom: 10px;
  }

  &_sessions {
    display: flex;
    list-style: none;
    margin: 4px 0 15px 0;
    border-radius: 4px;
    background: $grey;
    padding: 0 2px;

    &_item {
      font-size: 12px;
      color: #fff;
      padding: 5px;

      &_inactive {
        color: #bbb;
        text-decoration: line-through;
      }
    }
  }

  &_filtered {
    opacity: 0.2;
  }

  &_rating {
    position: absolute;
    left: -5px;
    top: 360px;
    background: linear-gradient(#fff, #ddd);
    padding: 5px;
    border: 1px solid #ccc;
    z-index: 100;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 5px;

    &:before {
      content: "";
      position: absolute;
      top: -6px;
      width: 5px;
      height: 5px;
      background: #bbb;
      left: -1px;
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }

    &_item {
      display: flex;
      align-items: center;
      margin-right: 2px;
    }

    &_value {
      font-size: 12px;
      padding: 0 4px;
      color: #000;
    }
  }
}
