@import "../../inculde-media.scss";

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}

.filter {
  display: flex;
  align-items: center;

  @include media("<=425px") {
    justify-content: center;
    flex-direction: column;
  }

  &_container {
    display: flex;
    background: #3c3c3c;
    width: 250px;
    height: 34px;
    border-radius: 0 0 6px 0;

    input {
      width: 100%;
      margin: 0 10px 8px 10px;
      border-radius: 2px;
      border: 0;
      padding: 4px;
    }

    @include media("<=425px") {
      border-radius: 0 0 6px 6px;
    }
  }

  &_message {
    padding-left: 10px;
    font-size: 14px;
    color: #565656;
  }
}
