.container {
  margin: 10px;
  position: relative;
  padding-left: 50px;
  display: flex;
  height: 150px;
}

.timestamp_container {
  position: relative;
  flex: 1;
}

.currentHour {
  position: absolute;
  height: 100%;
  font-size: 14px;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    height: calc(100% - 10px);
    width: 1px;
    border-left: 1px solid silver;
  }
}

.marks {
  display: flex;
  margin-top: 50px;
  &_hour {
    width: 5%;
    border-left: 1px solid #000;
    text-align: center;
    height: 100%;
    padding-bottom: 90px;
  }
}

.room {
  border: 1px solid red;
}

.movie {
  position: absolute;
  height: 30px;
  background: silver;
  margin-top: 50px;
  color: #fff;
}
