@import "../../inculde-media.scss";

$grey: #999;

.container {
  display: flex;

  @include media("<=phone") {
    flex-direction: column;
    justify-content: center;
  }
  @include media(">phone", "<=425px") {
    flex-direction: column;
    justify-content: center;
  }
}

.container {
  margin: 10px;
}

.poster {
  max-width: 300px;

  @include media("<=phone") {
    max-width: none;
  }
  @include media(">phone", "<=425px") {
    max-width: none;
  }

  img {
    width: 100%;
    border: 2px solid $grey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include media("<=425px") {
      border: 0;
    }
  }
}

.info {
  margin-left: 10px;
  padding: 0 10px;
  width: 100%;
  min-width: 400px;

  @include media("<=phone") {
    padding: 0;
    margin: 0;
    min-width: auto;
  }
  @include media(">phone", "<=425px") {
    padding: 0;
    margin: 0;
    min-width: auto;
  }

  h1 {
    margin: 0;
    font-weight: 400;
    padding-bottom: 6px;
    font-size: 30px;
  }

  h3 {
    margin: 0 0 20px 0;
    font-weight: 400;
    color: $grey;
    font-size: 20px;
  }

  &_specs {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    border-bottom: 1px dotted $grey;

    &_title {
      width: 200px;
      min-width: 200px;
      color: $grey;

      @include media("<=phone") {
        width: 120px;
        min-width: 120px;
        font-size: 12px;
      }
      @include media(">phone", "<=425px") {
        width: 120px;
        min-width: 120px;
        font-size: 12px;
      }
    }
    &_value {
      display: flex;
      @include media("<=phone") {
        font-size: 12px;
      }
      @include media(">phone", "<=425px") {
        font-size: 12px;
      }
    }
  }

  &_description {
    text-align: justify;
  }

  &_trailer {
    width: 100%;
    height: 274px;
    border: 0;
  }

  &_rating {
    display: flex;
    align-items: center;
    margin-right: 5px;

    img {
      padding: 0 2px;
    }
  }
}

.schedule {
  width: 400px;

  @include media("<=425px") {
    width: 100%;
  }

  h3 {
    margin: 10px 0;
    font-weight: 400;
    font-size: 24px;
  }

  &_day {
    padding: 5px 0;
  }
  &_date {
    font-size: 12px;
    margin-bottom: 5px;
    color: $grey;
  }
  &_sessions {
    display: flex;
    flex-wrap: wrap;

    &_item {
      background: #888;
      padding: 5px;
      border-radius: 4px;
      color: #fff;
      font-size: 15px;
      margin: 0 4px 4px 0px;
      text-shadow: 0 1px 0 #313131;
      border: 1px solid #666;
      cursor: pointer;

      &_inactive {
        background: #bbb;
        border-color: #adadad;
        text-shadow: none;
        text-decoration: line-through;
        cursor: default;
      }
    }
  }
}
